DirectoryIndex index.php
AddDefaultCharset UTF-8
Errordocument 404 ajax/404.html
Options -Indexes
php_flag magic_quotes_gpc 0
php_flag magic_quotes_runtime 0
php_flag display_errors 1


RewriteEngine off


